################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TurnirModel/.vs/TurnirModel/v16/Server/sqlite3
